{
    "type": "mysql",
    "host": "",
    "username": "",
    "password": "",
    "database": "",
    "synchronize": true,
    "logging": false,
    "autoSchemaSync": true,
    "entities": [
        "src/entities/**/*.ts"
    ]
}